.goog-te-banner-frame.skiptranslate {
    display: none !important;
    }
  body {
    top: 0px !important;
    }

    .goog-logo-link{

      display:none !important;

      }

      .goog-te-gadget{

    color:transparent!important;

    }

    #google_translate_element select{
      font-family: ubuntu;
      border: none;
      border-radius:3px;
      padding:6px 8px;
      font-size: larger;
    }

  .name {
    display: block;
    color: white;
    text-align: left;
    padding: 27px 30px;
    text-decoration: none;
    font-size: xx-large;
    font-family: ubuntu;
    color: #ffb606;
    font-weight: bolder;
  }

  .logo {
    color: #ffb606;
  }

  .main {
    content: "";
    height: 550px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: #333;
  }

  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;

  }

  .navbar li {
    float: right;

  }

  .link{
    display: block;
    color: white;
    text-align: center;
    padding: 35px 50px;
    text-decoration: none;
    font-size: larger;
    font-family: ubuntu;
  }

  .translate{
    padding: 20px 30px;
     margin-top: 10px;
  }
  /* .navbar li  {
    display: block;
    color: white;
    text-align: center;

    text-decoration: none;
    font-size: larger;
    font-family: ubuntu;
  } */

  /* .food {
    text-align: center;
    font-size: 35px;
    font-family: ubuntu;
    font-weight: bolder;
    margin-bottom: 10px;
  } */

  .navbar li a:hover {
    background-color: #111;
  }

  .navbar-logo {
    height: 50px;
    width: 50px;
    float: left;
    margin-top: 23px;
    margin-left: 8px;
    margin-right: 5px;
  }


.donor h1 {
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0.0015em;
    padding-top: 20px;
    margin-bottom: 20px;
  }

  .signup_btn {
    height: 48px;
    width: 368px;
    border-radius: 10px;
    padding: 8px 130px;
    background: #ffb606;
    border-radius: 10px;
    border: none;
    color: white;
    text-align: center;
    letter-spacing: 0.0015em;
    color: white;
    font-size: 16px;
    margin-top: 28px;
  }

  .donor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: ubuntu;
  }

  .donor h2 {
    font-size: 25px;
    line-height: 27px;
    letter-spacing: 0.0015em;
    color: #ffb606;
    margin-top: 20px;
  }

  .edit {
    border: 1px solid #ffb606;
    border-radius: 2px;
    height: 26px;
    width: 98px;
    border-radius: 2px;
    padding: 8px, 38px, 8px, 38px;
    color: #ffb606;
    margin: auto;
    margin-top: 20px;
  }

  body{
    background-color: #FAFAFC;
  }


  /* .plus {
    color: aliceblue;
    text-align: center;
    font-size: 40px;
    padding-top: 27px;
  } */

  .tabs {
    display: flex;
    gap: 10px;
    /* margin-top: 20px; */
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    margin-left: 39%;
  }

  i{
    font-size: 27px;
    font-weight: bold;
  }

  a{
    font-size: 20px;
    font-weight: bold;
    display: block;
    color: black;
    text-align: center;
    padding: 20px 40px;
    text-decoration: none;
    font-size: larger;
    font-family: ubuntu;
  }

  .lower {
    padding: 30px;
  }