.name {
  display: block;
  color: white;
  text-align: left;
  padding: 22px 30px;
  text-decoration: none;
  font-size: xx-large;
  font-family: sans-serif;
  color: #ffb606;
  font-weight: bolder;
}

.logo {
  color: #ffb606;
}

img {
  content: "";
  height: 600px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-color: #333;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.navbar li {
  float: right;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 30px 30px;
  text-decoration: none;
  font-size: larger;
  font-family: ubuntu;
}

.food {
  text-align: center;
  font-size: 35px;
  font-family: ubuntu;
  font-weight: bolder;
  margin-bottom: 10px;
}

.navbar li a:hover {
  background-color: #111;
}

.navbar-logo {
  height: 50px;
  width: 50px;
  float: left;
  margin-top: 15px;
  margin-left: 5px;
  margin-right: 5px;
}

body {
  margin: 0px;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 10px;

  font-family: ubuntu;
}

h2 {
  margin-left: 40px;
  font-family: ubuntu;
  margin-top: 50px;
  font-size: 30px;
  margin-bottom: auto;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

.volunteers {
  width: 650px;
  height: 350px;
}

#contact i {
  color: #333;
  margin-top: 3px;
}

#contact a {
  color: #333;
}

#contact p {
  margin-bottom: 5px;
}

#contact {
  margin-bottom: 30px;
}

.number {
  margin-left: 10px;
}

footer {
  padding: 1rem;
}

footer p {
  margin: 0;
}

.bg-dark {
  background: #333;
  color: #f4f4f4;
}

.center {
  text-align: center;
  margin: auto;
}
